/* body {
    font-family: Arial, sans-serif;
}

.form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    text-align: left;
}

.required {
    color: red;
    font-size: 12px;
    text-align: right;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.dni-hint {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}

.validation-icon {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.validation-icon.valid {
    background-color: green;
    border-radius: 50%;
}

.validation-icon.invalid {
    background-color: red;
    border-radius: 50%;
}


.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    /* background-image: url('../images/valid.png'); /* Ruta de la imagen */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* visibility: hidden; Ocultar por defecto */
/* } */

/* .icon.valid { */
    /* visibility: visible; Mostrar cuando el campo es válido */
/* } */ 
